/* tryout */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; /* adjust as needed */
    height: 50%; /* adjust as needed */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    /* background-color: azure; */
}